<form class="task-form" #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
  <div class="user-info">
    <p>Bem-vindo, {{ userName }}!</p>
    <button type="button" class="btn btn-view-tasks" (click)="onViewTasks()">Visualizar Tarefas</button>
  </div>
  <div class="form-group">
    <label for="title">Nome da Tarefa:</label>
    <input type="text" id="title" class="form-control" name="title" [(ngModel)]="task.title" placeholder="Digite o nome da tarefa">
  </div>
  <div class="form-group">
    <label for="description">Descrição:</label>
    <textarea id="description" class="form-control" name="description" [(ngModel)]="task.description" placeholder="Descreva a tarefa"></textarea>
  </div>
  <div class="form-group">
    <label for="category">Categoria:</label>
    <select id="category" class="form-control" name="category" [(ngModel)]="task.categoryId">
      <option value="">Sem categoria</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="status">Status:</label>
    <select id="status" class="form-control" name="status" [(ngModel)]="task.status">
      <option value="Pending">Pendente</option>
      <option value="In Progress">Em Andamento</option>
      <option value="Completed">Concluída</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Criar Tarefa</button>

  <div class="category-form">
    <h2>Categoria</h2>
    <div class="form-group">
      <label for="categoryName">Nome da Categoria:</label>
      <input type="text" id="categoryName" class="form-control" name="name" [(ngModel)]="category.name" maxlength="30" placeholder="Digite o nome da categoria">
    </div>
    <div class="form-group">
      <label for="categoryDescription">Descrição da Categoria:</label>
      <textarea id="categoryDescription" class="form-control" name="description" [(ngModel)]="category.description" placeholder="Descreva a categoria"></textarea>
    </div>
    <button type="button" class="btn btn-secondary" (click)="onCreateCategory()">Criar Categoria</button>
  </div>
</form>
